.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}



/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  /* our styles */

body {
  font-family: 'Open Sans', sans-serif;
}

.br-r2 {

  border-right: 1px solid rgba(255, 255, 255, .5) !important;
}

.p-lr {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.bg-faded {
  background-color: #383e4b;
  color: #fff;
}

.nav-color {
  background-color: #0275d8!important;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
  background-color: #2d323d;
}

.nav-item a {
  color: #fff !important;
}
.form-signin {
  width: 25em;
  padding: 10px 20px;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  border-radius: 0.2em;
  box-shadow: 0em 0em 0.4em #000046;
  background: #fff;
}

.t-b {
  border: inherit;
  background-color: lightgrey;
}

.nav-tabs {
  border-bottom: none !important;
}

.nav.nav-tabs a {
  border: 1px solid lightgrey;
  margin-right: 5px;
}

.nav.nav-tabs a.active {
  border: 1px solid lightgrey;
  /*border-top-left-radius: 10px;
border-top-right-radius: 10px;*/
  background-color: lightgrey;
  border-bottom: none;
  color: white;
}

.nav.nav-tabs a.col {

  color: black !important;
  margin-right: 5px;
}

.sidebar {
  position: fixed;
  top: 38px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}


/* Sidebar navigation */

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item+.nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.nav-item a .col {
  color: black;
}



/*@media only screen and (max-width: 500px) {
  .bqv,
  .bqy,
  .bqw,
  .bqx {
      margin-bottom: 10px !important;
  }
}*/
}






/* Full-width input fields */
input[type=text], input[type=password] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
  float: left;
  width: 20%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 50px) {
  .cancelbtn, .signupbtn {
     width: 50%;
  }
}