<!-- HEADER -->
<div id="header">
    <div class="container-fluid main_content">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                <div id="logo">
                    <a href="#/home">
                        <img src="../images/First_1000_days.png" class="img-responsive login_img" alt="Logo" />
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-7">
                <!-- <div class="welcome_msg margin-top-20"><h4 class="text-center">
                CCS Detection System</h4></div> -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12" id="cols">

                <ul class="nav navbar-nav navbar-right margin-top-5">
                    <div id="logo">
                        <a href="#/home">
                            <img src="../images/i-do sq.png" class="img-responsive login_img" alt="Logo" />
                        </a>
                    </div>

                </ul>
            </div>
        </div>
    </div>
</div>