<style>
  .font{
    font-size: 14px
  }
</style>

<div class="font">
  <div ng-include="'views/header.html'"></div>
  <div id="navbar" style="height:40px;background-color:#4e9f8a">
    <div class="container-fluid main_content">
    </div>
  </div>

  <div class="container-fluid">
    <!-- <div id="main"> -->
    <div>
      <div class="row">
        <div class="col-sm-7">
          <div class="card p-4 mt-5" ng-repeat="data in dashboard">
            <div class="row">
              <div class="col-sm-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <h2>{{data.HoursLearning}}</h2>
                    <br>
                    <h3> Hours of Learning </h3>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card card-inverse card-success">
                  <div class="card-block">
                    <h2>{{data.PeopleEducated}}</h2>
                    <br>
                    <h3> People educated </h3>

                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <div class="card card-inverse card-info">
                  <div class="card-block">
                    <h2>{{data.VillagesImpact}}</h2>
                    <br>
                    <h3> Villages impacted </h3>

                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card card-inverse card-warning">
                  <div class="card-block">
                    <h2>{{data.ssTrained}}</h2>
                    <br>
                    <h3> Swaasthya Saathis trained </h3>

                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <div class="card card-inverse card-warning">
                  <div class="card-block">
                    <h2>{{data.PR}}</h2>
                    <br>
                    <h3> Population Reach </h3>

                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <h2>{{data.viewerReg}}</h2>
                    <br>
                    <h3> Viewers registered </h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <div class="card card-inverse card-info">
                  <div class="card-block">
                    <h2>{{data.Preg}}</h2>
                    <br>
                    <h3> Pregnant women & Lactating mothers educated </h3>

                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card card-inverse card-success">
                  <div class="card-block">
                    <h2>{{data.women}}</h2>
                    <br>
                    <h3>Women educated </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-sm-4 mt-3 p-2" style="top: 23px;border:solid #4e9f8a 2px">
            <div class="col-md-6"  style="top: 100px;margin-left:75px">
          <form>
            <div class="form-group">
              <label>username:</label>
              <input class="form-control" ng-model="auth.ID">
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" ng-model="auth.pass">
            </div>

            <button type="button" class="btn btn-success" ng-click="login(auth)">Login</button>
            <span class="psw">
              <a href="#">Forgot password?</a>
            </span>
          </form>
          </div>
          


        </div>
      </div>
    </div>

  </div>
</div>











<!-- <div class="col-sm-4" style="width: 222px;top: 23px;">
    <div class="col-md-6 col-sm-12">
      <div class="card p-4 mt-3" style="width: 400px; height : 400px">
        <div class="row mt-2">
          <div class="col-md-4">
            <form>
              <div class="form-group">
                <label>username:</label>
                <input class="form-control" ng-model="auth.username">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" ng-model="auth.password">
              </div>

            </form>

            <button type="button" class="btn btn-success" ng-click="login(auth)">Login</button>
            <span class="psw">
              <a href="#">Forgot password?</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div> -->