<nav   class="navbar navbar-default dealer-nav" style="z-index:999;">
      <div class="container-fluid main_content">
       <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span>
            </button>
             <div class="visible-xs hide"><a class="navbar-brand" href="">Menu</a></div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
       
        <!-- /.navbar-collapse -->
        </div>
       </div>
    </nav>