<!DOCTYPE html>
<html>


<head>
    <title>First 1000 days</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	
    <style>
    </style>
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded ng-scope" style="width:1330px; height:50px;">
  <button class="navbar-toggler navbar-toggler-right" style="width:1190px; height:50px;" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><img src="images/First_100_days.png" class="img-fluid" height="50px" width="50px"></a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
       
        </ul>
        <ul class="navbar-nav">
                
                <li class="nav-item">
                    <a class="nav-link br-r2 p-lr" title="User">
                        <img src="../images/i-do sq.png" class="img-fluid" height="50px" width="75px">
                    </a>
                </li>
                
            </ul>
  </div>
</nav>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-success">
   <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
       
        </ul>
    <ul class="navbar-nav">
       
        <li class="nav-item"><a class="nav-link" href="#"><strong> Sign In </strong> </a></li>
       
    </ul>
</div>
</nav> 
<div class="container-fluid">
	
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card p-4 mt-3"  >
            <div class="row mt-2">
                <div class="col-md-4">
                    <div class="card card-inverse card-primary">
         <div class="card-block">
		<strong>	<em> <i style="font-size:24px" class="fa">&#xf007;</i>
			<span class='numscroller' data-min='1' data-max='2000' data-delay='5' data-increment='10'><h3> 2000 </h3> </span></em>
			  <p><em> Hours of learning </em></p>
               </strong>
         
        </div>
        </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-inverse card-success">
         <div class="card-block">
         <strong>	<em> <i style="font-size:24px" class="fa">&#xf007;</i> <h3>10000</h3> </em>
			  <p><em> People Educated </em></p>
               </strong>
        </div>
        </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-inverse card-info">
         <div class="card-block">
         <strong>	<em> <i style="font-size:24px" class="fa">&#xf007;</i> <h3>1203940 </h3> </em>
			  <p><em> Villages impacted </em></p>
               </strong>
        </div>
        </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    <div class="card card-inverse card-warning">
         <div class="card-block">
         <strong>	<em> <i style="font-size:24px" class="fa">&#xf007;</i> <h3>29028 </h3></em>
			  <p><em> Swaasthya sathis Trained </em></p>
               </strong>
        </div>
        </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-inverse card-primary">
         <div class="card-block">
         <strong>	<em> <i style="font-size:24px" class="fa">&#xf007;</i> <h3>3902884 </h3></em>
			  <p><em> Population reach </em></p>
               </strong>
        </div>
        </div>
                </div>
                <div class="col-md
        -4">
                    <div class="card card-inverse card-success">
         <div class="card-block">
         <strong>	<em> <i style="font-size:24px" class="fa">&#xf007;</i> <h3>723893 </h3> </em>
			  <p><em> Viewers registered </em></p>
               </strong>
        </div>
        </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-4">
                    <div class="card card-inverse card-warning">
         <div class="card-block">
         <strong>	<em> <i style="font-size:24px" class="fa">&#xf007;</i> <h3>7293802</h3> </em>
			  <p><em> Pregnats & Lactating mothers educated</em></p>
               </strong>
        </div>
        </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-inverse card-primary">
         <div class="card-block">
         <strong>	<em> <i style="font-size:24px" class="fa">&#xf007;</i> <h3>29349 </h3> </em>
			  <p><em> Women Educated </em></p>
               </strong>
        </div>
        </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-inverse card-success">
         <div class="card-block">
			 
         <strong>	<em> <i style="font-size:24px" class="fa">&#xf007;</i> <h3> 3454678 </h3></em>
			  <p><em> Sessions completed </em></p>
               </strong>
        </div>
        </div>
                </div>
            </div>
    
            
</div>
		</div>


        
        <div class="col-md-6 col-sm-12 mt-3">
            <div class="row mt-5">
                <div class="col-sm-8 offset-sm-2">
                    <button type="button" class="btn-default" style="border-right-width: 5px; height:67px; width:351px;">Viewer Report</button>
                    <button type="button" class="btn-default" style="border-right-width: 5px; height:67px; width:351px;">SS Report</button>
                    <button type="button" class="btn-default" style="border-right-width: 5px; height:67px; width:351px;">Session Reports</button>
                    
                </div>
                
            </div>
    </div>
    
</div>
</body>
</html>