<style>
  .reports {
    border-right-width: 5px;
    height: 45px;
    width: 350px;
  }
</style>


<div>
  <div ng-include="'views/header.html'"></div>
  <div id="navbar" style="height:40px;background-color:#4e9f8a">
    <div class="container-fluid main_content">
    </div>
  </div>

  <div class="container-fluid">
    <!-- <div id="main"> -->
    <div>
      <div class="row">
        <div class="col-sm-7">
          <div class="card p-4 mt-5" ng-repeat="data in dashboard">
            <div class="row">
              <div class="col-sm-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <h2>{{data.HoursLearning}}</h2>
                    <br>
                    <h3> Hours of Learning </h3>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card card-inverse card-success">
                  <div class="card-block">
                    <h2>{{data.PeopleEducated}}</h2>
                    <br>
                    <h3> People educated </h3>

                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <div class="card card-inverse card-info">
                  <div class="card-block">
                    <h2>{{data.VillagesImpact}}</h2>
                    <br>
                    <h3> Villages impacted </h3>

                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card card-inverse card-warning">
                  <div class="card-block">
                    <h2>{{data.ssTrained}}</h2>
                    <br>
                    <h3> Swaasthya Saathis trained </h3>

                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <div class="card card-inverse card-warning">
                  <div class="card-block">
                    <h2>{{data.PR}}</h2>
                    <br>
                    <h3> Population Reach </h3>

                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <h2>{{data.viewerReg}}</h2>
                    <br>
                    <h3> Viewers registered </h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <div class="card card-inverse card-info">
                  <div class="card-block">
                    <h2>{{data.Preg}}</h2>
                    <br>
                    <h3> Pregnant women & Lactating mothers educated </h3>

                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card card-inverse card-success">
                  <div class="card-block">
                    <h2>{{data.women}}</h2>
                    <br>
                    <h3>Women educated </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-sm-4 mt-3 p-2" style="top: 23px; border:solid #4e9f8a 2px">
          <div class="col-sm-8 offset-sm-2" style="top: 50px" >

            <div class="card-block">
              <button type="button" class="btn-info reports" ng-click="viewerReports()">Viewer Report</button>
            </div>

            <div class="card-block">
              <button type="button" class="btn-warning reports"  ng-click="ssReports()">SS Report</button>
            </div>

            <div class="card-block">
              <button type="button" class="btn-primary reports" ng-click="sessionReports()">Session Reports</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="card p-4 mt-5" style=" width: 350px; height: 445px;">
              <div class="col-sm-4 mt-3" style="width: 222px;top: 23px;bottom:23px;">
                <div class="col-sm-8 offset-sm-2">

                  <div class="card-block">
                    <button type="button" class="btn-info" style="border-right-width: 5px; height:67px; width:250px;" ng-click="viewerReports()">Viewer Report</button>
                  </div>

                  <div class="card-block">
                    <button type="button" class="btn-warning" style="border-right-width: 5px; height:67px; width:250px;" ng-click="ssReports()">SS Report</button>
                  </div>

                  <div class="card-block">
                    <button type="button" class="btn-primary" style="border-right-width: 5px; height:67px; width:250px;" ng-click="sessionReports()">Session Reports</button>
                  </div>

                </div>
              </div>
            </div> -->