<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div>
    <div ng-include="'views/header.html'"></div>
    <!-- <div ng-include="'views/menu.html'"></div>   -->
    <!--CONTENT AREA-->
    <div id="header_bgimg">
        <div class="overlay">
            <div class="main_content">
                <div class="customer_heading text-center" style="width:1225px;">Find your desired reports here...</div>
            </div>
        </div>
    </div>

    <div class="container-fluid main_content">
        <!-- <div id="main"> -->

        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card p-6 mt-5" style="  height: 445px;">
                            <div class="row mt-2">
                                <div class="col-sm-6">
                                    <div class="card card-inverse card-primary">
                                        <div class="card-block">


                                            <h4> <strong> 2000 </strong></h4>
                                            <br>


                                            <h3> Hours of Learning </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-inverse card-success">
                                        <div class="card-block">
                                            <i class="material-icons" style="font-size:30px;color:black">person</i>

                                            <h4> <strong> 428738 </strong></h4>




                                            <h3> People educated </h3>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-6">
                                    <div class="card card-inverse card-info">
                                        <div class="card-block">

                                            <h4> <strong>3673829 </strong> </h4>
                                            <br>

                                            <h3> Villages impacted </h3>


                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-inverse card-danger">
                                        <div class="card-block">
                                            <i class="material-icons" style="font-size:30px;color:black">person</i>
                                            <h2>4626337</h2>

                                            <h3> Swaasthya Saathis trained </h3>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-6">
                                    <div class="card card-inverse card-success">
                                        <div class="card-block">
                                            <i class="material-icons" style="font-size:30px;color:black">person</i>
                                            <h2> <strong>3567367 </strong> </h2>

                                            <h3> Population Reach </h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-inverse card-warning">
                                        <div class="card-block">
                                            <i class="material-icons" style="font-size:30px;color:black">person</i>
                                            <h2>73248373</h2>

                                            <h3> <strong> Viewers registered </strong> </h3>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-6">
                                    <div class="card card-inverse card-danger">
                                        <div class="card-block">
                                            <i class="material-icons" style="font-size:30px;color:black">person</i>
                                            <h2> <strong> 38373221 </strong> </h2>

                                            <h3> Pregnant women & Lactating mothers educated </h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-inverse card-primary">
                                        <div class="card-block">
                                            <i class="material-icons" style="font-size:30px;color:black">person</i>
                                            <h2><strong> 363863 </strong> </h2>

                                            <h3>Women educated </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card p-4 mt-5" style=" width: 350px; height: 445px;">
                        <div class="col-sm-4 mt-3" style="width: 222px;top: 23px;bottom:23px;">
                            <div class="col-sm-8 offset-sm-2">

                                <div class="card-block">
                                    <button type="button" class="btn-info" style="border-right-width: 5px; height:67px; width:250px;" ng-click="viewerReports()">Viewer Report</button>
                                </div>


                                <div class="card-block">
                                    <button type="button" class="btn-warning" style="border-right-width: 5px; height:67px; width:250px;" ng-click="ssReports()">SS Report</button>
                                </div>


                                <div class="card-block">
                                    <button type="button" class="btn-primary" style="border-right-width: 5px; height:67px; width:250px;" ng-click="sessionReports()">Session Reports</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>