<div class="font">
    <div ng-include="'views/header.html'"></div>
    <div id="navbar" style="height:40px;background-color:#4e9f8a">
        <div class="container-fluid main_content col-sm-12">
            <font color="#ffffff">viewer Reports</font>
            <a href="#/" class="float-right">
                <i class="fa fa-sign-out" aria-hidden="true" style="color:#ffffff"></i>
                <font color="#ffffff"> Sign Out</font>
            </a>
        </div>
    </div>

    <div class="container-fluid">
        <!-- <div id="main"> -->

        <div>
            <div class="panel panel-primary">

                <div class="panel-body">
                    <div class="row">
                        <form name="form">
                            <div class="col-lg-12 col-md-12 margin-bottom-15 p-l-r-0" style="margin-top : 20px">
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label for="">Select State :</label>
                                        <select class="form-control ng-pristine ng-untouched ng-valid" ng-model="stateID" ng-options="state.stateID as state.name for state in states | orderBy:'state'"
                                            ng-click="getDistricts()">
                                            <option value="">Select State</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label for="">Select District :</label>
                                        <select class="form-control ng-pristine ng-untouched ng-valid" ng-model="districtID" ng-options="district.districtID as district.name for district in districts | orderBy:'district'"
                                            ng-click="getBlocks()">
                                            <option value="">Select District</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label for="">Select Block :</label>
                                        <select class="form-control ng-pristine ng-untouched ng-valid" ng-model="blockID" ng-options="block.blockID as block.name for block in blocks | orderBy:'block'"
                                            ng-click="getClusters()">
                                            <option value="">Select Block</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label for="">Select Cluster :</label>
                                        <select class="form-control ng-pristine ng-untouched ng-valid" ng-model="clusterID" ng-options="cluster.clusterID as cluster.name for cluster in clusters | orderBy:'cluster'"
                                            ng-click="getVillages() ">
                                            <option value="">Select Cluster</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 margin-bottom-15 p-l-r-0" style="margin-top : 40px">
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label for="">Select Village :</label>
                                        <select class="form-control ng-pristine ng-untouched ng-valid" ng-model="villageID" ng-options="village.villageID as village.name for village in villages | orderBy:'village'"
                                            ng-click="getswasthyaSaathi()">
                                            <option value="">Select Village</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label for="">Select Swaasthya Saathi :</label>
                                        <select class="form-control ng-pristine ng-untouched ng-valid" ng-model="SSID" ng-options="swasthy.SSID as swasthy.name for swasthy in swasthyaData | orderBy:'swasthy'">
                                            <option value="">Select Swaasthya Saathi</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <label for="">Select fromDate and toDate</label>
                                    <br>
                                    <div class="col-lg-6 col-md-6">
                                        <datepicker date-format="dd-MM-yy">
                                            <input type="text" class="form-control" placeholder="From Date" ng-model="fromDate" date="dd-MM-yy"> </datepicker>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <datepicker date-format="dd-MM-yy">
                                            <input type="text" class="form-control" placeholder="To Date" ng-model="toDate" date="dd-MM-yy"> </datepicker>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 margin-bottom-15 p-l-r-0">
                                    <div class="col-sm-8 offset-sm-6" style="margin-top : 40px">
                                        <div class="form-group">
                                            <button style="margin-top:10px;" class="btn btn-lg btn-success" type="reset" ng-click="getviewerReports()">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                </form>
            </div>
        </div>
    </div>
    <table class="table table-hover table-bordered mt-3">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Adhaar</th>
                <th>Type of viewer</th>
                <th>User Registration Date</th>
                <th>No Of Videos</th>
                <th>Video Index</th>
                <th>Watch Duration</th>
                <th>Effectiveness</th>
            </tr>
        </thead>
        <tbody ng-repeat = "data in viewerReportsData">
            <tr>
                <td>{{data.SNO}}</td>
                <td>{{data.Aadhar}}</td>
                <td>{{data.TypeOfViewer}}</td>
                <td>{{data.RegisterationDate}}</td>
                <td>{{data.NoOfVideos}}</td>
                <td>2</td>
                <td>{{data.watchDuration}}</td>
                <td>{{data.Effectiveness}}</td>
            </tr>

        </tbody>
    </table>
</div>