<!DOCTYPE html>
<html>
<body>
<center>
<title>Zonal Reports</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
crossorigin="anonymous"> 
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
crossorigin="anonymous"> 

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
crossorigin="anonymous"></script>

<div>
 <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
 <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 
  <a class="navbar-brand" href="#"><img src="../images/First_1000_days.png" class="img-fluid" height="20px" width="100px"></a>
 <div class="collapse navbar-collapse" id="navbarNavDropdown">
 <ul class="navbar-nav mr-auto"></ul>
 <ul class="navbar-nav">
               
   <li class="nav-item">
   <a class="nav-link br-r2 p-lr">
     <img src="../images/i-do sq.png" class="img-fluid" height="20px" width="100px"></a>
   </li>
   </ul>
</div>
</nav></div><br/><br/>


<select required>
    <option value="" disbled selected>District
      <option value="ap">AP</option>
      <option value="telangana">Telangana</option>
      <option value="orisa">orisa</option>
    
    </select>
    <select required>
    <option value="" disabled selected>Town/city
      <option value="eg">EG</option>
      <option value="wg">WG</option>
      <option value="kurnool">Kurnool</option>
    
    </select><br/><br/>
    <select required>
    <option value="" disbled selected>PM
      <option value="kothapeta">Kothapeta</option>
      <option value="ambajipeta">Ambajipeta</option>
      <option value="amalapuram">Amlapuram</option>
    
    </select>
    
    </select>
    <select required>
    <option value="" disabled selected>PC
      <option value="eg">EG</option>
      <option value="wg">WG</option>
      <option value="kurnool">Kurnool</option>
    
    </select>
    <select required>
    <option value="" disabled selected>SS
      <option value="eg">EG</option>
      <option value="wg">WG</option>
      <option value="kurnool">Kurnool</option><br/>
    <br/><br/>
    <form>
    <input type="submit"  value="Submit">
    </form>
    </option>
    
    </form><br/>
    <form>
    <input type="submit" value="Reset">
    </form>
    </option>
    
    </center>
    </body>
    </html>
    
    